.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
.logo{
    height: 60px;
    width: auto;
}
.banner{
    height: auto;
   max-width: 100%;
}
.links{
    float: right;
    height: 15px;
    width: 15%;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: black;
}
.sign-up{
    background-color: black;
    color: white;
    margin-left: 20px;
    margin-right: 50px;
}
.item1{
    margin-top: 60px;
    margin-left: 30px;
}
h1{
    margin-bottom: 0px;
    margin-top: 50px;
}
h2{
    color: gray;
    margin-top: 5px;
}
.locationinput{
    width: 70%;
    height: 25px;
    color: gray;
    margin: 40px auto auto 0px;
    padding: 10px;
    font-size: 18px !important;
    font-weight: 500;

}
.Location{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 315px;
    left: 400px;
    padding: 15px;
}
button:hover{
    background-color: lightgray ;
}
.findfood{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0 2rem;
    letter-spacing: 0;
    color: white;
    background-color: #fc8019;
    line-height: 50px;


}
.cities{
    font-size: 15px;
    color: #a9abb2;
    margin: 30px 0 10px 0;
    letter-spacing: -.2px;
    text-transform: uppercase;

}
.citylist{
    width: 570px;
    list-style: none;
    margin-top: 20px;
    
}
.list{
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    color: #686b78;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;

}
.list:nth-child(even){
    color: lightslategray;
}
.info-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2b1e16;
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.infoitem1{

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
}
.text-head{
    color: white;
    text-align: center;   
}
.text-detail{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
}
.main-box{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.box1{
    margin-top: 106px;
    font-size: 40px;
    font-family: bold;
    width: 300px;
}
.box2{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 400px;
    color: #686b78;
    font-style: bold;
    font-size: 19px;
}
.google{
    margin-top: 30px;
    margin-bottom: 90px;
}
.appstore{
    margin-bottom: 90px;
}
.phone1{
    top: 0;
    right: 300px;
    position: absolute;
}
.phone2{
    position: absolute;
    bottom: 0;
    right: -45px;
}
img{
    border-style: none;
}
.footer{
    padding: 0 20px;
    background-color: black;
    min-height: 298px;
    width: 97%;
    color: white;
}
.head1{
    font-size: 20px;
    color: #686b78;
}
.no1{
    width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.no2{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #686b78;
    justify-content: space-between;
}
.no3{
    width: 300px;
}
.no4{
    width: 200px;
}
.list1{
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.spac{
    margin-top: 20px;
}


